*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
	background: #d3d3d3;
}

body{
	overflow-x: hidden;
}

/*Pagina de login*/
.box-login{
	box-shadow: 5px 7px #888888;
	max-width: 600px;
	width: 90%;
	left: 50%;
	top: 50%;
	position: absolute;
	background: white;
	padding: 40px 3%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.box-login h2{
	text-align: center;
	padding: 10px 0;
	color: #00BFFF;
	text-transform: uppercase;
	font-size: 20px;
}

.box-login input[type=text],
.box-login input[type=password]
{
	width: 100%;
	height: 40px;
	border: 1px solid #5F9EA0;
	padding-left: 8px;
	margin-top: 8px;

}

.box-login input[type=submit]{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin-top: 8px;
	background: #00BFFF;
	color:white;
	border: 1px solid #5F9EA0;

}

.erro-box{
	width: 100%;
	padding: 10px 2%;
	text-align: center;
	background: #FF6347;
	font-size: 20px;
	color: #00BFFF;
}

/*fim pagina de login*/

/*pagina do painel de controle*/

.clear{clear: both;}

.center{
	padding: 2% 0;
	margin: 0 auto;
}

header{
	left: 300px;
	position: relative;
	padding: 8px 0;
	background: #00BFFF;

	/*calc soma dentro das propriedades*/
	width: calc(100% - 300px);

}

.loggout{
	float: right;
}

.loggout a{
	color: white;
	font-size: 20px;
	padding: 0 5px;
	margin-right: 10px;
}

.loggout a > span{
	text-decoration: none;
	font-size: 15px;

}

.menu-btn{
	float: left;
	cursor: pointer;
	font-size: 25px;
	color: white;
	margin-left: 10px;
	
}

.menu-whaper{width: 250px;}

div.menu{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 0;
	background: #008080;
	float: left;
	width: 300px;
}

.box-usuario{
	text-align: center;
}

.avatar-usuario{
	text-align: left;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #2F3D42;
	display: inline-block;

}

.avatar-usuario i{
	position: relative;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: #2F3D42;
}
	
.imagem-usuario{
	display: inline-block;
	height: 130px;
	width: 130px; 	
	position: relative;

}

.imagem-usuario img{
	height: 130px;
	width: 130px;
	border-radius: 50%;
}

.nome-usuario{
	text-align: center;
}

.nome-usuario p{
	color: white;
	font-size: 17px;
	margin:5px 0;
}

.items-menu{
	margin-top: 30px;
}

.items-menu h2{
	text-align: left;
	font-size: 20px;	
	color: yellow;
	background: #FF8C00;
	padding: 8px;
	border-radius: 10px;
	margin-top: 15px;
}

.items-menu a{
	text-align: left;
	font-weight: 300;
	font-size: 20px;
	display: block;
	color: white;
	text-decoration: none;
	background: #32CD32;
	border-radius: 10px;
	padding: 8px;
	margin-top: 5px;
}


/*conteudo principal do painel*/


.w100{
	width: 100%;
}

.w50{
	width: 48%;
	
}

.left{
	float: left;
}

.right{
	float: right;
}

.content{
	width: calc(100% - 300px);
	position: relative;
	left: 300px;
	padding: 10px;
}

.box-content{
	background: white;
	padding: 10px;
	margin-bottom: 25px;
}

.h2-contents{
	text-align: center;
	
}

/*Box Metricas*/

.box-metricas{
	margin-top: 16px;
	padding: 0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
	border: 5px solid white;
}

				/*esta se referindo ao (2) box-metrica-single*/
.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}
				/*esta se referindo ao (3) box-metrica-single*/
.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.box-metrica-whaper h2{
	font-size: 28px;
}

.box-metrica-whaper p{
	padding: 10px 0;
}

/*tabela responsiva*/

.table-responsive{
	margin: 20px auto;
	max-width: 1280px;
}

.table-responsive .row:nth-of-type(1){
	font-weight: bold;
	border-bottom: 1px solid #333;
	background:#00CED1; 
	color:white;
	font-size: 20px;
}

.table-responsive .row{
	color: #555;
	padding: 8px 8px;
}

.col{
	float: left;
	width: 50%;
}


/*Pagina de editar usuario*/

.box-content form{
	margin: 30px 0;
}

.box-content form label{
	font-size: 17px;
	font-weight: 300;
	color: black;
	display: block;
}

.box-content form input[type=text]{
	margin-top: 8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	border:1px solid #ccc;
	width: 100%;
	height: 40px;
	padding-left: 8px;
}

.box-content form input[type=file]{
	margin-top: 8px;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}

.box-content form input[type=submit]{
	width: 90px;
	height: 30px;
	cursor: pointer;
	margin-top: 8px;
	font-size: 15px;
	background: #00BFFF;
	color:white;
	border: 1px solid #5F9EA0;
}

.form-group{
	margin: 10px 0;
}

/*box de alerta*/

.box-alert{
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 30px;
}

.sucesso{
	background: #00FA9A;
	color: #00BFFF;
}

.erro{
	background:#FFA500;
	color: #FF6347;
} 


/*Media Responsiva*/
@media screen and (max-width: 768px){

	header{
		width: 100%;
		left: 0;
	}

	.content{
		width: 100%;
		left: 0;
	}

	.menu-whaper{
		width: 200px;
	}


}

@media screen and (max-width: 400px){
	.menu-whaper{
		width: 400px;
	}
}
